<h1>現在時刻: <%= Time.current %></h1>
<h3>菜單要等等喔還在蓋</h3>

<table class="table">
  <tr>
    <td>姓名</td>
    <td>餐點</td>
    <td>數量</td>
    <td>單價</td>
    <td>備註</td>
    <td>功能</td>
    <td>沒有必要的功能</td>
  </tr>
  <% @people.each do |p| %>
  <tr>
    <td><%= p.name %></td>
    <td><%= p.item %></td>
    <td><%= p.quantity %></td>
    <td><%= p.price %></td>
    <td><%= p.remark %></td>
    <td>
      <%= link_to "改一下", edit_person_path(p), :class => "btn btn-default" %>
      
      <%= link_to "不訂了", person_path(p, :page => params[:page]), :method => :delete, :data => { :confirm => "確定耶！?" }, :class => "btn btn-danger" %>
    </td>
    <td>
      <%= link_to "Get XML", person_path(p, :format => :xml), :class => "btn btn-default" %>
      <%= link_to "Get JSON", person_path(p, :format => :json), :class => "btn btn-default" %>
      <%= link_to "Get Atom", person_path(p, :format => :atom), :class => "btn btn-default" %>
    </td>
  </tr>
  <% end %>
  <tr>
    <td><%= link_to "幹我也要訂", new_person_path, :class => "btn btn-primary" %></td>
  </tr>
</table>

<p><%= paginate @people %><%= page_entries_info @people %></p>

<p><%= link_to "回去那該死的首頁", root_path %></p>

<p><%= link_to "Atom feed", people_path(:format => :atom) %></p>
<p><%= link_to "XML", people_path(:format => :xml) %></p>
<p><%= link_to "Json", people_path(:format => :json) %></p>