<h2><%= @person.name %></h2>
<%= simple_format(@person.item) %>
<%= simple_format(@person.quantity) %>
<%= simple_format(@person.price) %>
<%= simple_format(@person.remark) %>

<p><%= link_to 'Back to index', people_path %></p>